[package]
name = "strata-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde_json = "1"
strata-parse = { path = "../strata-parse" }
strata-ast   = { path = "../strata-ast" }
strata-types = { path = "../strata-types" }